// GLOBAL



#globalContainer
{
    display: flex;
    flex-direction: column;
    padding:0;
    max-width: 100vw;
    height: 100;
}

html{
  scroll-behavior: smooth;
}

.row{
  margin:0;
  padding:0;
}

.col{
  padding:0;
  margin:0;
}


  // FIRST PAGE

    #firstPageContainer
    {
      position: relative;
      padding:0;max-width: 100vw;
      max-height: 100vh;
    }

    //  ANIMATIONS
      // First Animation
      .anim-name-text .text-wrapper{
        position: relative;
        display: inline-block;
        font-weight: 550;
        font-size: 3.5rem;
        line-height: 1;
        color: linen;
        margin-bottom: 3rem;
        font-family: 'Lato', sans-serif;
      }

      .line {
        position: absolute;
        height: 100%;
        width: 3px;
        background-color: linen;
        transform-origin: 0 50%;
      }


      // Second Animation
      .anim-presentation-text .text-wrapper{
        position: relative;
        display: inline-block;
        font-weight: 250;
        font-size: 2rem;
        line-height: 1;
        color: linen;
        margin-bottom: 2rem;
        font-family: 'Montserrat', sans-serif;
      }

      .line2 {
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: linen;
        transform-origin: 0 50%;
      }

      
      //  Third Animation
      .anim-presentation-text2 .text-wrapper{
        position: relative;
        display: inline-block;
        font-weight: 250;
        font-size: 2rem;
        line-height: 1;
        color: linen;
        margin-bottom: 2rem;
        font-family: 'Montserrat', sans-serif;
      }

      .line3 {
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: linen;
        transform-origin: 0 50%;
      }





  // SECOND PAGE

  #secondPageContainer
  {
    position: relative;
    width: 100%;
    height: 100vh;
  }


  




  