.presentationTextFirst {
  text-align: center;
  font-weight: 400;
  line-height: 2.0;
  font-size: 3rem;
  color: linen;
  margin-bottom:0%;
}

.presentationTextSecond {
  font-weight: 300;
  line-height: 2.0;
  font-size: 2rem;
  color: linen;
 }

 #globalContainer
  {
      display: flex;
      flex-direction: column;
  }


  .ml11 .text-wrapper{
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1;
    font-size: 3rem;
    color: linen;
    margin-bottom: 2rem;
  }

  .ml12 .text-wrapper{
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1;
    font-size: 3rem;
    color: linen;
    margin-bottom: 2rem;
  }

  

   .line {
    

    position: absolute;
    height: 100%;
    width: 3px;
    background-color: linen;
    transform-origin: 0 50%;
  }
  