
 #globalContainer
  {
      display: flex;
      flex-direction: column;
  }

//  ANIMATIONS

  // First Animation
  .anim-name-text .text-wrapper{
    position: relative;
    display: inline-block;
    font-weight: 550;
    font-size: 3.5rem;
    line-height: 1;
    color: linen;
    margin-bottom: 3rem;
  }

  .line {
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: linen;
    transform-origin: 0 50%;
  }


  // Second Animation
  .anim-presentation-text .text-wrapper{
    position: relative;
    display: inline-block;
    font-weight: 250;
    font-size: 2rem;
    line-height: 1;
    color: linen;
    margin-bottom: 2rem;
  }

  .line2 {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: linen;
    transform-origin: 0 50%;
  }

  
  //  Third Animation
  .anim-presentation-text2 .text-wrapper{
    position: relative;
    display: inline-block;
    font-weight: 250;
    font-size: 2rem;
    line-height: 1;
    color: linen;
    margin-bottom: 2rem;
  }

  .line3 {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: linen;
    transform-origin: 0 50%;
  }

  




  